.ourPickContainer {
  display: flex;
  padding-top: 15px;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  background-color: white;
  color: black;
  flex-wrap: wrap;

  @media (min-width: 1024px) {
    flex-wrap: none;

    h1 {
      width: 300px;
    }
  }
}

.genres {
  display: flex;
  //   justify-content: space-between;
}

.infoContainer {
  @media (min-width: 1024px) {
    margin-right: 50px;
  }
}

.genreType {
  padding-left: 15px;
}
